@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #66ff99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.Wrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.Form {
  width: 100%;
  margin-bottom: 1rem;
}

.name-input {
  outline: none;
  background: none;
  border: 1px solid #66ff99;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 250px;
  color: #fff;
}

.name-input::placeholder {
  color: #ffffff4d;
}

.sub-btn {
  background: #66ff99;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #66ff99;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.additional-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.Product p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
}
.edit-delete-container {
  display: flex;
  width: 80px;
  justify-content: right;
}
.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #1a1a40;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.total {
  float: right;
  padding-bottom: 5px;
  color: #fff;
}

.quantity-input,
.category-select {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 70px;
  background: #1a1a40;
  border: 1px solid #66ff99; /* Dodaj obramowanie do pola ilości */
}
.category-select {
  width: 165px;
}

.quantity-input:hover {
  border-color: #66ff99;
}
/* .quantity-info {
  margin-left: 10px;
} */
/* .category-info {
  margin-right: 106px;
} */
.product-header {
  display: flex;
  justify-content: left;
  gap: 100px;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.product-header span {
  text-align: center;
}
.product-name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-info {
  margin-left: 28px;
}
