@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  /* background: #66ff99; */
    /* fallback for old browsers */
  background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 42px;
  font-weight: 700;
}

.app-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Wrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 600px;

}

.Form {
  width: 100%;
  margin-bottom: 1rem;
}

.name-input {
  outline: none;
  background: none;
  border: 1px solid #66ff99;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 220px;
  color: #fff;
  height: 40px;
}

.name-input::placeholder {
  color: #ffffff4d;
}

.sub-btn {
  background: #66ff99;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  height: 40px;
}

.Product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #66ff99;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.Product p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
}

.additional-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.edit-delete-container {
  display: flex;
  width: 80px;
  justify-content: right;
}
.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #1a1a40;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.total {
  float: right;
  padding-bottom: 5px;
  color: #fff;
}

.quantity-input,
.category-select {
  height: 40px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 70px;
  background: #1a1a40;
  border: 1px solid #66ff99;
}
.category-select {
  width: 165px;
  margin-top: 1px;
}

.quantity-input:hover {
  border-color: #66ff99;
}

.product-header {
  display: flex;
  justify-content: left;
  gap: 160px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.category-span {
  margin-left: 30px; 
}
.quantity-span {
  margin-left: -60px;
}

.product-name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
}

strong{
  width: 100px;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logout-button {
  background-color: #1a1a40;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 30px;
}

.logout-button:hover {
  background-color: #1a1a40d0;
}